#main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.logo-HMS{
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
}

#form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

#form-items input{
    background: rgba(139, 201, 226, 0.568);
    border-radius: 35px;
    border:1px solid var(--main-login-lines);
    outline: none;
    padding: 2.2rem;
    margin-bottom: 20px;
    width: 400px;
}

#form-items input + input{
    margin-bottom: 20px;
}

.text-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 500 1.5rem 'Helvetica';
    color: var(--background-color)
}

.text-data a:first-child {
    text-decoration: none;
    color: var(--main-text-color)
}

.text-data a:last-child {
    text-decoration: none;
    color: var(--background-color)
}

.button-form{
    background-color: var(--background-color);
    color: var(--main-login-lines);
    width: 250px;
    padding: 20px;

}